$btnbgcolor: #4d4d4d;
$btntextcolor: #fff;

@mixin offerbutton {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  opacity: 0.7 !important;
  margin: auto;
  border: 0;
  font-weight: 500;
  font-size: 16px;
}

@mixin learnmorebtn {
  background-color: $btnbgcolor;
  color: $btntextcolor;
  font-size: 15px;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 0;
  &:hover{
    transition: 0.4s;
  }
}

