$numberOfDots: 20;
* {
  margin: 0;
  padding: 0;
}

.contactUs-style {
  hr {
    color: #707070;
  }
  .bordericon {
    border: 1px solid #5575f2;
    border-radius: 100px;
    height: 55px;
    width: 55px;
    background: #ffffff;
  }
  .contact-head {
    font-size: 54px;
    font-weight: 600;
    margin-top: 50px;
    padding-bottom: 15px;
    line-height: 44px;
  }
  .contact-head-para {
    line-height: 26px;
  }
  .contact-img {
    max-height: 275px;
    @include breakpoint-down(sm) {
      margin-top: 10rem;
    }
  }
  .contact-divider {
    position: relative;
  }
  .circle {
    border-radius: 50%;
    border: 1px solid #5575f2;
    height: 40px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .icons {
    position: relative;
    cursor: pointer;
  }
  .arrow1 {
    position: absolute !important;
    top: 12px;
    right: 12px;
    color: #5575f2;
  }
  .contact-form {
    input {
      border: 1px solid #707070;
      opacity: 0.36;
      background: #ffffff;
    }
    label {
      color: #232323;
    }
    textarea {
      border: 1px solid #707070;
      opacity: 0.36;
      background: #ffffff;
      height: 7rem;
    }
  }
  // .blink-image {
  //   animation: blink normal 2s infinite ease-in-out;
  // }
  // @keyframes blink {
  //   0% {
  //     opacity: 1;
  //     background-color: #10c018;
  //     border-radius: 50%;
  //   }
  //   50% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }

  .move-border {
    animation: dot 1.5s infinite;
    // animation-delay: 2s;
  }

  @keyframes dot {
    0%,
    50% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-15px);
    }
  }
  .contact-img {
    animation: lightwaves 2s infinite;
    position: relative;
  }

  @keyframes lightwaves {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, 5px);
      transform: scale(1.05);
    }
    50% {
      transform: translate(25px, 5px);
    }
    75% {
      transform: translate(12px, 10px);
      transform: scale(1.05);
    }
  }

  .contact-card {
    background-color: #294edc;
    p {
      font-size: 14px;
    }
  }
}
