.getintouch-dialogStyle {
  .black-part {
    padding: 50px;
    background-color: hsla(0, 0%, 100%, 0.9019607843137255);
    position: relative;
  }
  .logo {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 15px;
    right: 25px;
    @include breakpoint-down(phone) {
      left: 0px;
    }
  }
  .about-head {
    color: #0f75bc;
    font-weight: 600;
    margin-top: 100px;
  }
  .modal-header {
    border-bottom: unset;
  }
  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    // border-bottom-style: groove;
    background-color: black;
    color: white;
    width: 31rem;
  }
  .dialog-btn {
    border: none;
    text-decoration: none;
  }
  button:focus {
    outline: none;
  }
  .no-outline:focus {
    outline: none;
  }
  .phone-btn {
    background-color: #fff;
    @include breakpoint-down(mini-desktop) {
      display: none;
    }
    // @include breakpoint-down(phone) {
    //   display: block;
    //   left: 31rem;
    //   top: 2rem;
    // }

    @include breakpoint(col) {
      display: block;
      left: 31rem;
      top: 2rem;
    }
  }

  @media only screen and (max-width: 150px) {
    .icon {
      display: block;
    }
  }
  .touch-btn {
    background-color: #000;
    @include breakpoint-down(phone) {
      // background-color: white;
    }
  }
  .icon {
    @include breakpoint-down(mini-desktop) {
      display: none;
    }

    @include breakpoint-down(phone) {
      display: block;
      color: #000;
      font-size: 30px;
    }
  }

  textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    // border-bottom-style: groove;
    background-color: black;
    color: white;
    width: 31rem;
  }
  button {
    background-color: white;
  }
  .about-para {
    font-size: 13px;
    line-height: 26px;
  }

  .modal-dialog {
    max-width: 70rem;
  }
  .main-part {
    background-color: #000;
  }
  .d-inline-flex {
    padding-left: 0px;
  }
  .icon-style ul {
    list-style-type: none;
  }
  .icon-style ul li a {
    text-decoration: none;
    color: black;
  }
  .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    // min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-style1 {
    margin-left: -7px;
    color: "black";
  }
  .social-btns {
    border-radius: 50%;
    width: 15px;
  }

  // @media only screen and (min-width: 200px) {
  //   .icon {
  //     display: block;
  //   }
  // }
}
