@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Roboto&display=swap");

.scholarship-style {
  .modal-header {
    border-bottom: none;
  }
  .scholar-btn {
    color: white;
  }
  .modal-content {
    background-color: black;
  }
  .scholar-heading {
    font: 400 26px/28px Roboto, Helvetica Neue, sans-serif;
  }
  .scholar-subheading {
    font: 400 14px/28px Roboto, Helvetica Neue, sans-serif;
  }
  .no-outline:focus {
    outline: none;
  }
  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    // border-bottom-style: groove;
    background-color: black;
    color: white;
    width: 27rem;
  }
  .apply-btn {
    background-color: white;
    color: black;
  }
  .form-select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: black;
    color: white;
    width: 27rem;
    border-radius: unset !important;
    padding-bottom: 1rem;
  }
  .scholar-input {
    .form-select {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      // border-bottom-style: groove;
      background-color: black;
      color: white;
      width: 12.5rem;
      @include breakpoint-down(sm) {
        width: 27rem;
      }
    }
  }
}
