.dialogStyle {
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 65vh;
  overflow: auto;

  .relative {
    position: relative;
    min-height: 90vh;
  }
  .modal-dialog {
    max-width: 60rem;
  }
  .black-part {
    background-color: #002d62;
    padding: 20px;
    min-height: 100%;
  }
  .modal-header {
    border-bottom: unset;
  }
  .dialog-form label {
    font-size: 12px;
  }
  .forgot-pass {
    color: #464646;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
  }
  .iconbtn {
    float: end;
  }
  .main-part {
    background-color: #eef3ff;
    min-height: 100%;
    // position: relative;
  }
  .signin-btn {
    background-color: #002d62;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    &:hover {
      color: #fff;
    }
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .heading {
    color: #0f75bc;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 20rem;
    @include breakpoint-down(sm) {
      margin-left: 13rem;
    }
  }
  .sub-heading {
    color: #464646;
    font-size: 12px;
    margin-left: 23rem;
    @include breakpoint-down(sm) {
      margin-left: 15rem;
    }
  }
  .dialog-form {
    margin-left: 5rem;
  }
  .card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137254902);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 60%;
    width: 300px;
    height: 350px;
    @include breakpoint-down(sm) {
      display: none;
    }
  }
  .card-heading {
    color: #0f75bc;
    font-weight: 600;
    font-size: 22px;
  }
  .card-heading-sub {
    font-size: 12px;
  }
  .card-sub {
    font-size: 14px;
  }
  .d-inline-flex {
    padding-left: 0px;
  }
  .icon-style ul {
    list-style-type: none;
  }
  .icon-style ul li a {
    text-decoration: none;
    color: black;
  }
  .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    // min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-style1 {
    margin-left: -7px;
    color: "black";
  }
  .social-btns {
    border-radius: 50%;
    width: 15px;
  }
}
