@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Roboto&display=swap");

.forget-modal {
  .modal-dialog {
    margin-top: 8rem;
    padding: 0 200px;
    width: 49rem;
  }
  .modal-content {
    padding: 20px 40px;
  }
  .otp-style {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .black-mob {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 13px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  .small-text {
    color: #464646;
    font-size: 12px;
  }
  .submit-btn {
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    &:hover {
      color: white;
    }
  }
  .small-text {
    color: #464646;
    text-decoration: none;
    cursor: pointer;
    font: 400 13px/28px Roboto, Helvetica Neue, sans-serif;
  }
  .forget-heading {
    margin-bottom: 0;
    font: 600 20px/28px Roboto, Helvetica Neue, sans-serif;
  }
  .form-label {
    color: #464646;
    font: 400 13px/28px Roboto, Helvetica Neue, sans-serif;
  }
}
