$white: #fff;
$blue: #0031f2;
$questionbgcolor: #e9e9e9;

.faqstyle {
  .faqheader {
    height: 11rem;
    background-color: $blue;
  }
  .faqcard {
    height: 700px;
    @include breakpoint-down(sm) {
      height: 1000px;
    }
  }
}
