$textcolor: #fff;
$blackbg: #1a1a1a;
$bluebg: #294edc;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Roboto&display=swap");

.footer-style {
  // background-color: black;
  // color: white;

  .shapes-footer {
    position: relative;
    bottom: -1px;
  }
  .black-shape {
    background-color: $blackbg;
    clip-path: polygon(
      50% 70.5%,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      16.82% -0.5%
    );
    height: 200px;
    width: 100%;
  }
  .blue-right {
    background-color: $bluebg;
    width: 100%;
    position: absolute;
    height: 200px;
    clip-path: polygon(100% 0, 80% 0, 100% 100%);
    right: 0;
    top: 0;
  }
  .blue-left {
    background-color: $bluebg;
    width: 100%;
    position: absolute;
    height: 200px;
    clip-path: polygon(20% 0, 0 0, 0 100%);
    left: 0;
    top: 100px;
  }
  .black-bg {
    background-color: $blackbg;
    .foot-con {
      padding: 0 7%;
    }
  }
  // .wow {
  //   visibility: visible;
  //   animation-name: fadeIn;
  // }
  .foot-logo {
    height: 70px;
    width: 70px;
  }
  .footer-para {
    line-height: 1.7rem;
    color: $textcolor;
    font-size: 13px;
    padding-right: 50px;
    cursor: pointer;
    font: 400 13px/28px Roboto, Helvetica Neue, sans-serif;
   
  }
  // .footer-para:hover {
  //    transition: 0.4s;
  //    margin-top: -8px;
  // }
  .foot-link {
    cursor: pointer;
  }
  .foot-link:hover {
    transition: 0.4s;
    margin-top: -8px;
  }
  .small-headings {
    font-size: 18px;
    color: $textcolor;
  }
  hr {
    border: 1px dotted $textcolor;
    
  }
  .hr-small {
    text-align: left;
    margin-left: 0;
    width: 75%;
  }
  .Socialicon img {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    // box-shadow: 0 0 2px #888;
    // padding: 0.5em 0.6em;
  }
  .Socialicon li {
    width: 60px;
    display: inline;
    margin: 0px;
    & img:hover {
      transition: 0.4s;
      margin-top: -8px;
    }
  }
  // .Socialicon li img:hover {
  //   transition: 0.4s;
  //   margin-top: -8px;
  // }
  #list {
    padding: 0px;
    font: 400 14px/28px Roboto, Helvetica Neue, sans-serif;
  }
  li {
    list-style: none;
  }
.icon-style{
  font-size: 15px;
  // font-weight: bold;
}
  // hr.new3 {
  //   border-top: 1px dotted white;
  //   width: 15rem;
  // }
  .blue-bottom {
    clip-path: polygon(0 100%, 20% 0, 100% 100%);
    background-color: $bluebg;
    font-size: 10px;
    width: 100%;
    height: 150px;
  }
  .rights-bottom {
    font-size: 14px;
    color: $textcolor;
    padding-top: 90px;
    padding-left: 150px;
    font: 400 14px/28px Roboto, Helvetica Neue, sans-serif;
  }
}
