$lightyellow: #f9ca83;
$white: #fff;
$blue: #4668ee;
$navtextcolor: #474747;

.header-style {
  .brand-logo {
    height: 100px;
    width: 100px;
    margin-left: 0;
    // &:hover {
    //   background-color: #1a1a1a;
    // }
    // @include breakpoint-down(phone) {
    //   height: 50px;
    //   width: 500px;
    // }
    // @include breakpoint-down(sm) {
    //   height: 100px;
    //   width: 100px;
    // }
  }
  .navigations {
    color: $navtextcolor;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
  }
  .dialog-btn {
    border: none;
    text-decoration: none;
  }

  button:focus {
    outline: none;
  }
  .dropbtn {
    padding: auto;
    background-color: transparent;
    //font-size: 16px;
    border: none;
    color: black;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #eef3ff;
    color: #002d62;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  // .head-nav {
  //   margin-left: 10rem;
  // }
  .head-form {
    margin-left: 8rem;
    @include breakpoint-down(md) {
      margin-left: 0;
    }
  }
  .button-sign {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px 20px;
    font-weight: 500;
  }
  .video-class-top {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 74%,
      81% 100%,
      67% 57%,
      42% 35%,
      15% 47%
    );
    background-color: #0f75bc;
    position: absolute;
    top: 20%;
    right: 0;
    height: 220px;
    width: 28%;
  }
}
