@import "../scss/commonbutton";
$ssbgcolor: #5575f2;
$blackbg: #1a1a1a;
$bgcolor: rgba(190, 237, 255, 0.8588235294117647);

.first-page {
  // overflow: hidden;

  .mobile-device {
    height: 450px;
    @include breakpoint-down(mini-desktop) {
      display: none;
    }
    @include breakpoint-down(sm) {
      display: block;
    }
    @include breakpoint-down(phone) {
      display: block;
    }
    .regional-shape {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      height: 428px;
      background-color: #0f75bc;
      width: 100%;
      position: absolute;
    }
    .regional-content {
      margin-left: 10px;
      margin-right: 0;
      top: 75px;
      position: relative;
    }
    .learn-more-btn {
      border-color: #fff;
      color: #fff;
      font-size: 13px;
      padding: 5px 25px;
      font-weight: 500;
      border-radius: 0;
    }
    .regional-head {
      // font-size: 40px;
      // font-weight: 600;
      font: 600 40px/40px Roboto, Helvetica Neue, sans-serif;
    }
    .regional-para {
      font: 400 15px/32px Roboto, Helvetica Neue, sans-serif;
      line-height: 26px;
    }
  }

  .home_banner {
    min-height: 400px;
    max-width: 1320px;
    // @include breakpoint-down(sm) {
    //   display: none;
    // }
    .slide_banner {
      position: relative;

      .slick-dots {
        bottom: 0 !important;
        padding: 10px 5rem 2rem 5rem;
      }
      .slick-dots li button:before {
        color: #7b7979 !important;
        margin: 0;
        font-size: 10px;
        top: 5rem;
        padding: 0;
      }
    }
  }

  .project-ideas-top {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 74%,
      81% 100%,
      67% 57%,
      42% 35%,
      15% 47%
    );
    background-color: #000;
    position: absolute;
    top: 1%;
    right: 0;
    height: 220px;
    width: 28%;
    @include breakpoint-down(sm) {
      display: none;
    }
  }
  .video-class-top {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 74%,
      81% 100%,
      67% 57%,
      42% 35%,
      15% 47%
    );
    background-color: #0f75bc;
    position: absolute;
    top: 20%;
    right: 0;
    height: 220px;
    width: 28%;
    @include breakpoint-down(sm) {
      display: none;
    }
  }
  // .contents {
  //   position: absolute;
  //   .live-contents {
  //     padding: 50px;
  //     margin-left: 130px;
  //   }
  // }
  .videobanner-three {
    height: 450px;
    position: relative;
    //min-height: 400px;
    // max-width: 1320px;

    .live-contents {
      padding: 50px;
      margin-left: 130px;
    }
    .live-head {
      font-size: 40px;
      font-weight: 600;
    }
    .live-banner {
      clip-path: polygon(45% 0, 100% 40%, 100% 68%, 32% 94%, 0 70%, 0 0);
      height: 400px;
      width: 100%;
      background-color: #2e3678;
      @include breakpoint-down(sm) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .live-shape1 {
      clip-path: polygon(0 0, 0 100%, 100% 0);
      height: 150px;
      width: 10%;
      background-color: #e2e2e2;
      opacity: 0.07;
      position: relative;
      bottom: 255px;
    }
    .live-shape2 {
      clip-path: polygon(0 0, 0 100%, 71% 21%);
      height: 217px;
      width: 22%;
      background-color: #000;
      opacity: 0.63;
      position: relative;
      bottom: 270px;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .live-shape5 {
      clip-path: polygon(
        0 70%,
        16% 16%,
        32% 33%,
        100% 0,
        100% 3%,
        32% 43%,
        16% 25%,
        0 80%
      );
      height: 313px;
      width: 97%;
      background-color: #000;
      opacity: 0.13;
      position: absolute;
      top: 17rem;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .live-shape3 {
      height: 152px;
      width: 28%;
      background-color: #e2e2e2;
      position: relative;
      left: 63rem;
      right: 0px;
      bottom: 51rem;
      -webkit-clip-path: polygon(100% 0, 4% 49%, 100% 100%);
      clip-path: polygon(100% 0, 4% 49%, 100% 100%);
    }

    .live-shape7 {
      clip-path: polygon(88% 0, 100% 10%, 42% 92%, 0 71%);
      background-color: #e2e2e2;
      width: 18%;
      height: 225px;
      top: 140px;
      opacity: 0.07;
      left: 629px;
      position: absolute;
    }
    .live-shape8 {
      clip-path: polygon(100% 0, 57% 10%, 100% 100%);
      height: 130px;
      width: 23%;
      background-color: #e2e2e2;
      position: absolute;
      right: 0px;
      top: 275px;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
  }
  .videobanner-five {
    position: relative;
    height: 450px;
    .scholarship-shape1 {
      clip-path: polygon(42% 0, 100% 40%, 100% 80%, 38% 100%, -6% 68%, 0 15%);
      overflow-x: hidden;
      position: relative;
      height: 400px;
      width: 100%;
      background-color: #2e3678;
      @include breakpoint-down(sm) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      @include breakpoint-down(phone) {
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0 0%);
      }
    }
    .scholarship-shape2 {
      clip-path: polygon(0 0, 10% 10%, 2% 95%, 0 95%);
      background-color: #e2e2e2;
      width: 70%;
      z-index: 36;
      height: 163px;
      top: 140px;
      position: absolute;
      opacity: 0.07;
    }
    .scholarship-shape3 {
      clip-path: polygon(88% 0, 100% 10%, 42% 92%, 0 71%);
      background-color: #e2e2e2;
      width: 18%;
      z-index: 36;
      height: 225px;
      top: 160px;
      position: absolute;
      opacity: 0.07;
      left: 810px;
    }
    .scholoarship-shape4 {
      clip-path: polygon(37% 53%, 100% 3%, 100% 28%, 38% 100%, 0 19%, 0 0);
      width: 98%;
      height: 168px;
      background-color: #4d4d4d;
      position: absolute;
      bottom: -5px;
      opacity: 0.14;
      @include breakpoint-down(md) {
        display: none;
      }
    }
    .shape2 {
      position: absolute;
      bottom: 1px;
      right: 10rem;
      height: 412px;

      //   bottom: 35px;
      // right: 177px;
      // height: 412px;
      // position: absolute;
      @include breakpoint-down(sm) {
        right: 3rem;
      }
    }
    .scholoarship-banner-img {
      width: 90%;
      @include breakpoint-down(md) {
        width: 50%;
      }
      @include breakpoint-down(phone) {
        display: none;
      }
    }
    .scholorship-banner-title {
      position: relative;
      top: 160px;
    }
    .scholorship-banner-head {
      font-size: 52px;
      font-weight: bold;
      position: absolute;
      // bottom: 160px;
      top: -5rem;
      left: 160px;
      @include breakpoint-down(sm) {
        left: 100px;
      }
      @include breakpoint-down(phone) {
        font-size: 30px;
        left: 20px;
      }
    }
    .scholorship-banner-para {
      position: absolute;
      // bottom: 30px;
      left: 160px;
      right: 605px;
      font-size: 13px;
      line-height: 26px;
      @include breakpoint-down(lg) {
        width: 28rem;
      }
      @include breakpoint-down(md) {
        width: 20rem;
        line-height: 20px;
      }
      @include breakpoint-down(sm) {
        left: 100px;
      }
      @include breakpoint-down(phone) {
        width: 100%;
        left: 5px;
      }
    }
    .btn-scholar {
      z-index: 3;
      text-align: center;
      position: relative;
      top: 10rem;
      @include breakpoint-down(md) {
        top: 10rem;
        left: -5rem;
      }
      @include breakpoint-down(phone) {
        left: 2px;
      }
    }
    .learn-more-btn {
      border-color: #fff;
      color: #fff;
      font-size: 13px;
      padding: 5px 25px;
      font-weight: 500;
      border-radius: 0;
      @include breakpoint-down(md) {
        top: 25px;
        position: relative;
      }
      @include breakpoint-down(phone) {
        padding: 5px;
      }
    }
    .btn-text {
      position: relative;
    }
  }
  .videobanner-four {
    position: relative;
    height: 450px;
    .regional-shape {
      -webkit-clip-path: polygon(70% 0, 101% 0, 78% 100%, 30% 64%, 53% 13%);
      clip-path: polygon(70% 0, 101% 0, 78% 100%, 30% 64%, 53% 13%);
      background-color: #0f75bc;
      height: 500px;
      width: 100%;
      position: absolute;
      @include breakpoint-down(sm) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .regional-banner {
      z-index: 4;
      position: relative;
      width: 700px;
      @include breakpoint-down(lg) {
        width: 600px;
      }
      @include breakpoint-down(md) {
        width: 500px;
        top: 5rem;
        left: -2rem;
      }
      @include breakpoint-down(sm) {
        top: 10rem;
        width: 400px;
      }
      @include breakpoint-down(phone) {
        display: none;
      }
    }
    .regional-content {
      position: absolute;
      top: 80px;
      margin-left: 700px;
      margin-right: 200px;
      color: #fff;
      @include breakpoint-down(lg) {
        margin-left: 600px;
      }
      @include breakpoint-down(md) {
        font-size: 16px;
        margin-left: 500px;
      }
      @include breakpoint-down(sm) {
        margin-left: 400px;
        margin-right: 100px;
      }
      @include breakpoint-down(phone) {
        margin-left: 15%;
        margin-right: 0;
      }
    }
    .regional-head {
      font-size: 52px;
      font-weight: bold;
      @include breakpoint-down(md) {
        font-size: 40px;
      }
    }
    .regional-para {
      line-height: 28px;
      font-size: 13px;
      margin-top: 30px;
      @include breakpoint-down(md) {
        line-height: 20px;
        font-size: 13px;
      }
    }
  }

  .videobanner-two {
    position: relative;
    height: 450px;
    .main-line {
      -webkit-clip-path: polygon(
        62% 55%,
        100% 29%,
        100% 42%,
        62% 73%,
        0 17%,
        0 1%
      );
      clip-path: polygon(62% 55%, 100% 29%, 100% 42%, 62% 73%, 0 17%, 0 1%);
      width: 100%;
      height: 233px;
      background-color: #4d4d4d;
      position: absolute;
      bottom: -95px;
      opacity: 0.11;
    }
    .heading {
      font-size: 52px;
      font-weight: bold;
    }
    .left-bottom-triangle {
      clip-path: polygon(0 0, 0 100%, 100% 50%);
      background-color: #000;
      width: 12%;
      height: 150px;
      position: absolute;
      left: 0;
      top: 37%;
    }
    .main-shape {
      position: absolute;
      top: 40px;
      width: 100%;
      height: 400px;
      background-color: #5575f2;
      -webkit-clip-path: polygon(
        59% 0,
        100% 15%,
        100% 85%,
        62% 100%,
        0 69%,
        0 45%
      );
      clip-path: polygon(59% 0, 100% 15%, 100% 85%, 62% 100%, 0 69%, 0 45%);
      opacity: 0.9;
      @include breakpoint-down(sm) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }

    .left-top-triangle {
      clip-path: polygon(0 0, 0 100%, 100% 68%);
      background-color: #000;
      top: 32px;
      left: 0;
      height: 200px;
      width: 15%;
      position: absolute;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .circle-dot {
      width: 100px !important;
      position: relative;
      left: 25%;
      top: 45px;
    }
    .img-shape {
      position: absolute;
      width: 40%;
      height: 260px;
      top: 70px;
      left: 5%;
      @include breakpoint-down(phone) {
        display: none;
      }
    }
    .text-content {
      position: absolute;
      left: 45%;
      top: 80px;
      padding-right: 18%;
      @include breakpoint-down(phone) {
        left: 15%;
        padding-right: 0;
      }
    }
    .learn-more-btn {
      @include learnmorebtn();
      background-color: initial;
      border-color: #fff;
      color: #fff;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .videobanner {
    height: 450px;
    position: relative;
    .left-triangle {
      clip-path: polygon(0 14%, 100% 0, 30% 100%, 0 75%);
      background-color: #37c3b7;
      position: absolute;
      width: 25%;
      height: 457px;
      top: 0;
      left: 0;
      opacity: 0.26;
    }
    .heading {
      font-size: 52px;
      font-weight: bold;
    }
    .main-shape {
      clip-path: polygon(58% 0, 100% 13%, 100% 76%, 65% 100%, 0 69%, 0 45%);
      width: 100%;
      background-color: #37c3b7;
      height: 400px;
      position: absolute;
      @include breakpoint-down(sm) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .course-logo {
      height: 55px;
      width: 55px;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .java {
      position: absolute;
      top: 15px;
      left: 21%;
    }
    .phython {
      position: absolute;
      top: 45%;
      left: 13%;
    }
    .android {
      position: absolute;
      top: 45%;
      left: 37%;
    }
    .laptop {
      position: absolute;
      height: 300px;
      width: 25%;
      top: 40px;
      left: 15%;
      z-index: 3;
      @include breakpoint-down(sm) {
        left: 10%;
      }
      @include breakpoint-down(phone) {
        display: none;
      }
    }
    .circle-dot {
      width: 100px !important;
      position: relative;
      left: 25%;
      top: 45px;
    }
    .video-small-tritop {
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      opacity: 0.3;
      height: 15px;
      left: 36%;
      top: 25px;
      transform: rotate(320deg);
    }
    .video-small-tribot {
      background-color: #5575f2;
      width: 1%;
      position: absolute;
    }
    .right-triangle {
      background-color: #0f75bc;
      clip-path: polygon(100% 0, 0 90%, 100% 100%);
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 5%;
      height: 100px;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .video-shape4 {
      clip-path: polygon(65% 55%, 100% 13%, 100% 32%, 65% 76%, 0 19%, 0 0);
      width: 100%;
      height: 233px;
      background-color: #37c3b7;
      position: absolute;
      bottom: -55px;
      opacity: 0.16;
    }

    .text-content {
      position: absolute;
      left: 45%;
      top: 80px;
      padding-right: 18%;
      @include breakpoint-down(sm) {
        padding-right: 0;
      }
      @include breakpoint-down(phone) {
        left: 15%;
        padding-right: 0;
      }
    }
    .learn-more-btn {
      @include learnmorebtn();
      background-color: initial;
      border-color: #fff;
      color: #fff;
      //margin-left: 20rem;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .registration-section {
    .registration {
      background-image: url("../../Asserts/Images/registration-bg.png");
      background-size: cover;
      height: 550px;
    }
    .req-video {
      max-height: 550px;
      width: 100%;
    }
  }
  .faculty-background {
    background-image: url("../../Asserts/Images/faculty_bg1.png");
    height: 550px;
    //width: 750px;
    .slide_style {
      max-width: 1300px;
      .slick-dots {
        bottom: 0 !important;
      }
      .slick-dots li button:before {
        color: #b6cec6 !important;
        margin: 3px 5px;
        font-size: 10px;
        line-height: 20px;
      }
    }
    // .faculty-head {
    //   @include breakpoint-down(md) {
    //     margin-left: 20rem;
    //   }
    // }
    .faculty-shape {
      clip-path: polygon(
        56% 24%,
        56% 8%,
        67.74% 8%,
        81% 8%,
        81% 40%,
        111% 63%,
        32% 73%,
        0% 54%,
        0% 10%,
        30.64% 0.32%
      );
      // clip-path: polygon(
      //   56% 24%,
      //   56% 8%,
      //   59.74% 8%,
      //   86% 8%,
      //   86% 45.72%,
      //   111% 61.84%,
      //   30.26% 72.18%,
      //   0% 54%,
      //   0% 10%,
      //   33.64% 0.32%
      // );
      background-color: #5575f2;
      height: 640px;
      width: 100%;
      //position: absolute;
      @include breakpoint-down(md) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 440px;
      }
    }
    .faculty_img {
      width: 280px;
      @include breakpoint-down(lg) {
        width: 200px;
        margin-top: 2rem;
      }
      @include breakpoint-down(md) {
        display: none;
      }
    }
    .faculty-para {
      margin-left: 100px;
      position: relative;
      margin-top: 20px;
      font-size: 14px;
      line-height: 28px;
      // @include breakpoint-down(md) {
      //   //display: none;
      //   padding-left: 3rem;
      // }
    }
    .faculty-name {
      font-size: 24px;
      margin-top: 30px;
      font-weight: 500;
      margin-left: 100px;

      // @include breakpoint-down(md) {
      //   //display: none;
      //   padding-left: 3rem;
      // }
    }
    .icon-back {
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 20px;
      position: relative;
      left: 93px;
      margin-left: 13px;
      text-align: center;
    }

    .faculty-social-list {
      list-style-type: none;
      padding-left: 0;
    }
    .faculty-shape2 {
      clip-path: polygon(
        31% 56%,
        99.93% 29%,
        99.9% 46.5%,
        30% 73%,
        0 15.5%,
        0.08% -2%
      );
      height: 200px;
      width: 100%;
      background-color: #ebebeb;
      position: relative;
      bottom: 19rem;
      opacity: 0.8;
      @include breakpoint-down(md) {
        display: none;
      }
    }
  }
  .success-stories {
    // .slickstyleres {
    //   padding-bottom: 2rem;

    //   @include breakpoint(xl) {
    //     display: none;
    //   }
    //   @include breakpoint-down(lg) {
    //     display: none;
    //   }
    //   @include breakpoint-down(md) {
    //     display: none;
    //   }
    //   @include breakpoint-down(sm) {
    //     display: block;
    //   }
    // }
    // .story-card {
    //   @include breakpoint-down(xl) {
    //     display: none;
    //   }
    // }
    .profile {
      position: relative;
      top: 20px;
      z-index: 3;
      height: 80px;
      width: 80px !important;
      border-radius: 50%;
      left: 125px;
      right: 0;
      margin: auto;
      object-fit: cover;
    }

    .slickstyle {
      padding-bottom: 2rem;
      // @include breakpoint-down(sm) {
      //   display: none;
      // }
    }
    .slick-dots {
      bottom: 0 !important;
    }
    .slick-dots li button:before {
      color: #7b7979 !important;
      margin: 3px 5px;
      font-size: 10px;
      line-height: 20px;
    }
    .story-card:hover {
      transform: translateY(-20px);
      transition: transform 0.2s cubic-bezier(0.71, 0.26, 0.32, 0.86);
    }
    .story-head {
      width: 350px;
      height: 270px;
      margin-left: 1rem;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      &:hover {
        background-color: #5575f2;
        color: white;
      }
      @include breakpoint-down(lg) {
        width: 280px;
      }
      @include breakpoint-down(md) {
        width: 300px;
        margin-left: 1rem;
      }
      @include breakpoint-down(sm) {
        width: 350px;
        margin-left: 5rem;
      }
    }
  }
  .video-background {
    .testimonial-shape1 {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      background-color: #37c3b8;
      height: 490px;
      width: 100%;
      position: relative;
      bottom: 120px;
      @include breakpoint-down(phone) {
        top: 1px;
      }

      // @include breakpoint-down(md) {
      //   height: 350px;
      // }

      // @include breakpoint-down(sm) {
      //   height: 250px;
      // }
    }
    .testimonial-img {
      @include breakpoint-down(phone) {
        width: 50px;
      }
    }
    .videos {
      position: relative;
      top: 3rem;
    }
    .polygen {
      clip-path: polygon(26% 0, 80% 31%, 26% 56%, 0 45%, 0 14%);
      background-color: #55e7f2;
      height: 550px;
      width: 100%;
      position: absolute;
      z-index: 3;
      top: 55px;
      opacity: 0.24;
      transform: rotate(-6deg);
    }
    .slickstyle {
      margin-left: 5rem;
      margin-right: 5rem;

      .img-style {
        width: 250px;
        border-radius: 20px;
        //margin-left: 50px;
        // @include breakpoint-down(lg) {
        //   width: 250px;
        // }
        @include breakpoint-down(sm) {
          margin-left: 4rem;
        }
        @include breakpoint-down(phone) {
          margin-left: 2rem;
        }
        @include breakpoint-down(mobile) {
          margin-left: 1rem;
        }
      }
    }
  }
  .video-testimon {
    max-width: 1340px;
    .video-shape1 {
      clip-path: polygon(0 3%, 100% 0, 100% 44%, 0 85%);
      background-color: #ebebeb;
      height: 70px;
      width: 100%;
      top: 100px;
      position: relative;
      transform: rotate(-3deg);
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .video-shape2 {
      clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
      background-color: #242b4b;
      height: 400px;
      width: 100%;
      top: 20px;
      position: relative;
      @include breakpoint-down(sm) {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
      }
    }
    .line-img1 {
      position: absolute;
      left: -10px;
      bottom: 10px;
    }
    .line-img2 {
      position: absolute;
      right: 0;
      transform: rotate(270deg);
    }
    .values {
      position: relative;
      top: 100px;
    }
    .half-star {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .bird {
    right: 55px;
    position: fixed;
    bottom: 15px;
    z-index: 3;
  }
  .what-we-offer {
    position: relative;
    // top: 45px;
    //height: 450px;
    max-width: 1300px;
    .offer-left-tri {
      background-color: $blackbg;
      opacity: 0.3 !important;
      width: 2%;
      height: 20px;
      right: -5px;
      bottom: 590px;
      transform: rotate(-35deg) !important;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      position: absolute;
    }
    .offer-left-tri2 {
      background-color: #ebebeb;
      width: 3%;
      height: 24px;
      right: -15px;
      bottom: 331px;
      opacity: 1;
      transform: rotate(39deg) !important;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      position: absolute;
    }

    .courses-heading {
      color: $blackbg;
      font-size: 56px;
      font-weight: 600;
      position: relative;
      z-index: 3;
    }
    .courses-para {
      position: relative;
    }
    .offer {
      @include breakpoint-down(sm) {
        justify-content: start !important;
      }
    }
    .training {
      position: relative;
    }
    .training1 {
      position: relative;
    }
    .training-btn {
      @include offerbutton();
      position: absolute;
      left: 2rem;
      top: 11rem;
      @include breakpoint-down(lg) {
        left: 0.5rem;
        top: 9rem;
      }
      @include breakpoint-down(md) {
        width: 9rem;
        top: 6rem;
      }
      @include breakpoint-down(sm) {
        width: 5rem;
        top: 2.5rem;
        height: 3rem;
        left: 1rem;
      }
      @include breakpoint-down(phone) {
        position: static;
        height: 45px;
        width: 100%;
        left: 8rem;
        top: 15rem;
      }
    }
    .offer-page {
      @include breakpoint-down(md) {
        padding-top: 150px;
      }
      @include breakpoint-down(sm) {
        padding-top: 10px;
      }
    }
  }
  .live-video {
    position: relative;

    max-width: 1330px;
    bottom: 50px;
    top: 100px;
    .right-tri {
      background-color: $blackbg;
      opacity: 0.3 !important;
      // width: 2%;
      // height: 20px;
      // right: -5px;
      // bottom: 590px;
      transform: rotate(-35deg) !important;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      //position: absolute;
    }
    .left-img {
      clip-path: polygon(
        100% 0,
        100% 15%,
        35% 50%,
        100% 95%,
        100% 100%,
        0 100%,
        0 0
      );
      height: 650px;
      width: 35%;
      top: 0;
      left: 0;
      // background: $blackbg;
      position: absolute;
      visibility: visible;
    }
    .startup {
      height: 700px;
    }
    .live-line-shape {
      clip-path: polygon(
        114% 0,
        100% 11%,
        36% 47%,
        100% 95%,
        102% 100%,
        33% 47%
      );
      background-color: #fff;
      opacity: 0.3 !important;
      height: 600px;
      position: absolute;
      width: 100%;
      bottom: 10px;
    }
    .right-img {
      clip-path: polygon(40% 0, 100% 0, 100% 100%, 4% 100%);
      height: 900px;
      width: 36%;
      position: absolute;
      top: 0;
      right: 0;
      visibility: visible;
    }
    .glass-lady {
      position: relative;
      left: 15px;
      height: 980px;
      width: 100%;
    }
    .right-img-shape {
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
      background: #fff;
      opacity: 0.9 !important;
      height: 916px;
      bottom: 867px;
      width: 27%;
      left: 18px;
      transform: rotate(11deg);
      position: relative;
    }
    .live-class-des {
      padding-top: 180px;
      padding-left: 22%;
      padding-right: 25%;
      visibility: visible;
    }
    .text-right {
      text-align: right !important;
    }
    .learn-more-btn {
      @include learnmorebtn();
    }
    // .btn-text {
    //   position: relative;
    // }
    .btn-arrow-icon {
      margin-left: 10px;
      // position: relative;
    }
    .video-class-des {
      padding-right: 35%;
      padding-top: 250px;
      visibility: visible;
      @include breakpoint-down(sm) {
        padding-top: 100px;
      }
      @include breakpoint(md) {
        padding-top: 150px;
      }
      @include breakpoint(lg) {
        padding-top: 220px;
      }
    }
  }
  .interview-schedule {
    min-height: 650px;
    position: relative;

    .interview-para1 {
      color: #4d4d4d;
      font-size: 16px;
    }
    .interview-para2 {
      color: #4d4d4d;
      font-size: 26px;
      @include breakpoint-down(sm) {
        font-size: 20px;
      }
    }
    .orange-triangle {
      clip-path: polygon(0 11%, 100% 100%, 100% 0);
      width: 18%;
      background-color: #ebebeb;
      opacity: 0.6;
      height: 304px;
      right: 0;
      position: absolute;
      top: 243px;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .orange-card {
      background-color: #e03b11;
      min-height: 360px;
      width: 36%;
      position: absolute;
      bottom: 100px;
      right: 15%;
      @include breakpoint-down(md) {
        position: absolute;
        left: 28em;
      }
      @include breakpoint-down(md) {
        position: absolute;
        left: 25em;
        height: 200px;
        font-size: 12px;
      }
      @include breakpoint-down(sm) {
        position: absolute;
        left: 3rem;
        height: 20rem;
        width: 56%;
        font-size: 12px;
      }
      @include breakpoint-down(phone) {
        position: absolute;
        left: 3rem;
        height: 20rem;
        width: 100%;
        font-size: 12px;
      }
    }
    .learn-more-btn {
      background-color: #fff;
      border-color: #fff;
      color: $blackbg;
      font-size: 13px;
      padding: 10px 30px;
      font-weight: 500;
      border-radius: 0;
    }
    .btn-text {
      font-size: 15px;
    }
    .left-img {
      width: 60%;
      height: 650px;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
      //background: $blackbg;
      visibility: visible;
    }
    .women_sitting {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .titles {
      position: absolute;
      top: 4rem;
      right: 10rem;
      @include breakpoint-down(lg) {
        position: absolute;
        top: 1rem;
      }
      @include breakpoint-down(md) {
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
      @include breakpoint-down(sm) {
        right: 0;
      }
      @include breakpoint-down(phone) {
        right: 0;
      }
      // @include breakpoint(sm) {
      //   position: absolute;
      //   right: 2rem;
      //   top: 1rem;
      // }
      // @include breakpoint-down(md) {
      //   position: absolute;
      //   right: 2rem;
      //   top: 1rem;
      // }
      // @include breakpoint(md) {
      //   position: absolute;
      //   right: 15rem;
      //   top: 1rem;
      // }
    }
  }
  .scholarship {
    position: relative;
    min-height: 400px;
    top: 50px;
    @include breakpoint-down(lg) {
      min-height: 0;
      margin-bottom: 0% !important;
    }
    .left-img1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .ss {
      width: 50%;
      left: -12rem;
      top: -10rem;
      position: absolute;
      right: -7px;
      @include breakpoint-down(sm) {
        display: none;
      }
      @include breakpoint-down(lg) {
        width: 50%;
        margin-top: 5rem;
      }
    }
    .right-img {
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
      background: $ssbgcolor;
      width: 10%;
      height: 400px;
      position: absolute;
      top: -150px;
      right: 0;
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .right-lshape {
      clip-path: polygon(100% 0, 100% 3%, 8% 3%, 8% 100%, 0 100%, 0 0);
      background-color: #fff;
      opacity: 0.4;
      height: 414px;
      width: 100%;
    }
    .ssright-triangle {
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      //background-color: $ssbgcolor;
      height: 40px;
      width: 40px;
      position: absolute;
      opacity: 0.12;
      right: 228px;
      top: 5px;
      transform: rotate(79deg);
    }
    .ssbottom-triangle {
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      background-color: ssbgcolor;
      height: 40px;
      width: 3%;
      position: absolute;
    }
    .left-triangle {
      clip-path: polygon(0 15%, 60% 100%, 100% 0);
      background-color: $ssbgcolor;
      opacity: 0.17 !important;
      position: absolute;
      left: 22%;
      bottom: 20%;
      width: 15%;
      height: 200px;
      @include breakpoint-down(sm) {
        display: none;
      }
      @include breakpoint-down(lg) {
        display: none;
      }
    }
    .content {
      padding-top: 20px;
      padding-left: 35%;
      padding-right: 10%;
      @include breakpoint-down(lg) {
        padding-left: 30%;
        // max-width: 720px;
        padding-right: 0%;
      }
      @include breakpoint-down(md) {
        // width: 55rem;
        padding-left: 10rem;
      }
      @include breakpoint-down(sm) {
        padding: 0px;
      }
    }
    .learn-more-btn {
      @include learnmorebtn();
    }
  }
  .work-together {
    // @include breakpoint-down(sm) {
    //   height: 50px;
    //   width: 500px;
    // }
    .meeting {
      @include breakpoint-down(lg) {
        display: none;
      }
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .project {
      background-image: url("../../Asserts/Images/bg_work1.png");
      // background-size: contain;
      // background-repeat: repeat;
      height: 750px;
      @include breakpoint-down(lg) {
        //display: none;
        height: 650px;
      }
      @include breakpoint-down(sm) {
        //display: none;
        height: 550px;
      }
    }
    .shape-img {
      margin-top: 200px;
      @include breakpoint-down(lg) {
        height: 50px;
        //display: none;
      }
      @include breakpoint-down(sm) {
        display: none;
      }
    }
    .square-shape {
      margin-left: 62px;
      position: relative;
      bottom: 80px;
    }
    .wt-image {
      height: 500px;
      width: 500px;
    }
    .wt-image1 {
      height: 450px;
      width: 450px;
    }
    .work-img {
      margin-left: 98px;
      position: relative;
      bottom: 80px;
      margin-top: -520px;
    }
    .project-diescrption {
      position: relative;
      top: 150px;
      background-color: #fff;
      width: 85%;
      @include breakpoint-down(sm) {
        //padding-left: 100px;
      }
      @include breakpoint-down(md) {
        //max-width: 540px;
        //padding-left: 100px;
        margin-top: -5rem;
      }
    }
    .learn-more-btn {
      @include learnmorebtn();
    }
  }
  .exclusive-features {
    position: relative;
    // .exclusive {
    //   // padding: 0 100px;
    // }
    .card-title {
      font-size: 18px;
      font-weight: 500;
    }
    .exp {
      line-height: 26px;
    }
  }
  .placement {
    background-color: $bgcolor;
    position: relative;
    bottom: 0;
    max-width: 1310px;
    .imgstyle {
      background-color: $bgcolor;
    }
    .logo-head {
      font-size: 28px;
      font-weight: 600;
      color: #4d4d4d;
      padding-top: 50px;
      padding-bottom: 25px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .left-triangle {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .first-page .videobanner .java {
    display: none;
  }
  .first-page .videobanner .phython {
    display: none;
  }
  .first-page .videobanner .android {
    display: none;
  }
  .first-page .videobanner .laptop {
    left: 5%;
  }
  .first-page .videobanner .circle-dot {
    left: 10%;
  }
  .first-page .videobanner .text-content {
    left: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .first-page .videobanner-four .regional-head {
    position: relative;
    left: -55px;
  }
  .first-page .videobanner-four .regional-para {
    position: relative;
    left: -55px;
  }
}
@media only screen and (max-width: 576px) {
  .first-page .videobanner .main-shape {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%, 0 100%);
  }
  .first-page .videobanner .laptop {
    display: none;
  }
  .first-page .videobanner .circle-dot {
    display: none;
  }
  .first-page .videobanner .text-content {
    left: 0%;
  }
  .first-page .videobanner-two .img-shape {
    display: none;
  }
  .first-page .videobanner-two .circle-dot {
    display: none;
  }
  .first-page .project-ideas-top {
    display: none;
  }

  .first-page .videobanner-two .left-top-triangle {
    display: none;
  }

  .first-page .videobanner-two .main-shape {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%, 0 100%);
  }
  .first-page .videobanner-two .text-content {
    left: 6%;
  }
  .first-page .videobanner-three .live-shape2 {
    display: none;
  }

  .first-page .videobanner-three .live-shape8 {
    display: none;
  }
  .first-page .videobanner-three .live-banner {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%, 0 100%);
  }
  .first-page .videobanner-two {
    margin-top: -45px;
  }
  .first-page .videobanner-four .regional-shape {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%, 0 100%);
  }
  .first-page .videobanner-five .scholarship-shape1 {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%, 0 100%);
    height: 400px;
  }
  .first-page .videobanner-five .scholorship-banner-head {
    position: relative;
    left: 0px;
  }
  .first-page .videobanner-five .scholorship-banner-para {
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: left;
  }
  .first-page .videobanner-five .learn-more-btn {
    position: relative;
    left: -55px;
    top: -40px;
  }
  .first-page .videobanner-four .regional-shape {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%, 0 100%);
  }
  .first-page .videobanner-four .regional-content {
    position: absolute;
    right: 0px;
  }
  .first-page .videobanner-four .regional-para {
    text-align: justify;
    position: absolute;
  }
  .first-page .videobanner-four .regional-banner {
    display: none;
  }
  .live-class-content {
    font-size: smaller;
  }
  .live-class-title {
    font-size: larger;
    padding-left: 10px;
  }
  .video-class-des {
    position: relative;
    top: 0px;
  }
  .learn-more-btn {
    position: relative;
    top: 0px;
  }
  .video-class-des-title {
    font-size: revert;
  }
  .video-class-des-content {
    font-size: smaller;
  }
  .first-page .faculty-background .faculty-para {
    font-size: 12px;
    line-height: 22px;
    margin-left: 13px;
    margin-top: 10px;
  }

  .first-page .faculty-background .icon-back {
    left: 55px;
  }
  .first-page .live-video .learn-more-btn {
    padding: 10px;
  }
  .first-page .success-stories .story-head {
    margin-left: 0px;
  }
  .first-page .success-stories .profile {
    top: 0px;
  }
}
