$lightyellow: #f9ca83;
$white: #fff;
$blue: #4668ee;
$textcolor: #707070;

.placement-liveclass {
  .liveimg {
    height: 55px;
  }
  .heading-text {
    font-size: 30px;
    font-weight: 600;
    color: $textcolor;
    letter-spacing: 4px;
  }
  .main-para {
    line-height: 28px;
    color: #000;
    margin-bottom: 80px;
  }
  .items {
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.30196078431372547);
    margin-bottom: 120px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1 !important;
    background-clip: initial;
    background-color: #fff !important;
  }
  .img-part {
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0 100%);
    min-height: 100%;
    width: -webkit-max-content;
    width: max-content;
    transition: all 0.5s;
  }
  .arrow {
    height: 24px;
    width: 14px;
    font-size: 26px;
    padding-right: 20px;
  }
  .item-left {
    width: 55%;
  }
  .item-right {
    width: 55%;
    transition: all 0.5s;
  }
  .heading-first {
    color: #0f75bc;
    text-transform: uppercase;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  .heading-second {
    color: #2d2d35;
    text-transform: uppercase;
    font-size: 25px;
    @include breakpoint-down(md) {
      font-size: 20px;
    }
    @include breakpoint-down(phone) {
      font-size: 17px;
    }
    // @include breakpoint(col) {
    //   font-size: 15px;
    // }
  }
  .card-para {
    color: #707070;
    line-height: 25px;
    position: relative;
    right: 30px;
    @include breakpoint-down(md) {
      font-size: 13px;
      right: 10px;
    }
    @include breakpoint-down(phone) {
      font-size: 12px;
      right: 10px;
    }
  }
  .blue-arrows {
    color: #0f75bc;
    position: relative;
    left: 50%;
    &:hover {
      animation: animate-arrow-1 1s ease-in-out 0.2s;
    }
  }

  @keyframes animate-arrow-1 {
    0% {
      transform: translateX(-40px);
      opacity: 0;
    }
    70%,
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
