@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == col {
    @media (min-width: 100px) {
      @content;
    }
  }
}

@mixin breakpoint-down($point) {
  @if $point == desktop {
    @media (max-width: 1450px) {
      @content;
    }
  } @else if $point == mini-desktop {
    @media (max-width: 1366px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == phone {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 100px) {
      @content;
    }
  }
}

body.screen {
  &:after {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    content: "normal";
    padding: 2px 5px;
    font-size: 8px;
    display: block;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 999;
    @include breakpoint(col) {
      content: "col";
    }
    @include breakpoint(sm) {
      content: "sm";
    }
    @include breakpoint(md) {
      content: "md";
    }
    @include breakpoint(lg) {
      content: "lg";
    }
    @include breakpoint(xl) {
      content: "xl";
    }
  }
  &:before {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    content: "normal";
    padding: 2px 5px;
    font-size: 8px;
    display: block;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 999;
    @include breakpoint-down(mini-desktop) {
      content: "mini-desktop ( max )";
    }
    @include breakpoint-down(lg) {
      content: "LG ( max )";
    }
    @include breakpoint-down(md) {
      content: "MD ( max )";
    }
    @include breakpoint-down(sm) {
      content: "SM ( max )";
    }
    @include breakpoint-down(phone) {
      content: "Phone ( max )";
    }
    @include breakpoint-down(mobile) {
      content: "Mobile ( max )";
    }
  }
}
