@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,400;1,500&display=swap");
.terms-conditions {
  .heading {
    font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 44px;
  }
  .terms-para {
    font: 400 14px/2px Roboto, Helvetica Neue, sans-serif;
    line-height: 26px;
  }
  .sub-heading {
    font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
}
