@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Roboto&display=swap");

.scholar-second {
  .ssbottom-shape {
    // clip-path: polygon(44% 11%, 69% 30%, 49% 40%, 9% 66%, -1% 33%, 0% 36%);
    clip-path: polygon(44% 11%, 69% 30%, 49% 45%, 12% 76%, -1% 33%, 0% 36%);
    overflow-x: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #2e3678;
    @include breakpoint-down(lg) {
      //   clip-path: polygon(24% 26%, 73% 28%, 48% 60%, 18% 87%, -1% 36%, -56% 67%);
      display: none;
    }
    @include breakpoint-down(md) {
      display: none;
    }
  }
  //   .ssimage {
  //     position: absolute;
  //     top: 38rem;
  //     left: 9rem;
  //     @include breakpoint-down(lg) {
  //       left: 10rem;
  //     }
  //   }
  .ssbottom-shape1 {
    //clip-path: polygon(10% -55%, 37% 3%, 46% 27%, 12% 40%, 1% 4%, 19% -7%);
    clip-path: polygon(44% 12%, 69% 30%, 49% 45%, 12% 43%, 0% 4%, 19% -7%);
    overflow-x: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #2e3678;
    @include breakpoint-down(lg) {
      display: none;
    }
  }
  .ssimage1 {
    // position: absolute;
    // top: 56rem;
    // left: 9rem;
    position: relative;
    margin-top: -8rem;

    @include breakpoint-down(lg) {
      margin-top: -8rem;
    }
    @include breakpoint-down(md) {
      margin-top: -6rem;
    }
    @include breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }
  .about-Scholorship {
    padding: 40px;
  }
  .scholorship-head {
    font: 800 28px/28px Roboto, Helvetica Neue, sans-serif;
  }
  .scholorship-para {
    font: 400 14px/28px Roboto, Helvetica Neue, sans-serif;
  }
}
.scholar-third {
  .ssthird {
    padding: 0;
  }
  .ss-image {
    min-height: 100%;
  }
  .scholorship-square {
    background-color: #120078;
    max-width: 100%;
    height: fit-content;
  }
  .head {
    font-weight: 600;
    margin-top: 70px;
    margin-left: 40px;
  }
  .sub-head {
    top: 50px;
    position: relative;
    margin-left: 40px;
  }
  .details {
    margin-left: 20px;
    padding: 20px 20px 36px;
  }
  .ssicon-style {
    font-size: 3rem;
  }
  .detail-para {
    padding: 0 20px 0 5px;
  }
}

.scholar-fourth {
  .scholorfourth-style {
    .faq-card {
      position: relative;
      margin-top: 10px;
    }
    .btn-link {
      text-decoration: none;
      &:hover {
        color: #0056b3;
      }
    }
  }
}
.scholar-apply {
  .scholarship-apply-banner {
    padding: 0;
  }
  .apply-square {
    background-color: #0f75bc;
    height: 270px;
  }
  .apply-head {
    position: relative;
    text-align: center;
    font-weight: 600;

    top: 85px;
    line-height: 50px;
  }
  .apply-button {
    position: relative;
    text-align: center;
    background-color: #fff;
    top: 90px;
  }
}
.scholar-contact {
  .us {
    color: #5575f2;
  }
  .contact-head {
    font: 600 28px/28px Roboto, Helvetica Neue, sans-serif;
  }
  .line {
    width: 6%;
    border: 2px solid #5575f2;
    margin-left: 35rem;
    background-color: #5575f2;
  }
  .contact-icon {
    color: #0056b3;
    font-size: 24px;
  }
  .contact-para {
    font: 400 14px/28px Roboto, Helvetica Neue, sans-serif;
  }
}
