.imgDes {
  margin-left: 470px;
  overflow: hidden;
  text-align: left;
  bottom: -90px;
  position: absolute;
}
.imgDes p {
  text-align: right;
}

$primary-color: #ccc;
$col-bg-color: #eee;
$col-footer-bg-color: #eee;
$col-header-bg-color: #007bff;
$col-content-bg-color: #fff;

body {
  background-color: $primary-color;
}

.custom-column {
  background-color: $col-bg-color;
  border: 5px solid $col-bg-color;
  padding: 10px;
  box-sizing: border-box;
}
.custom-column-header {
  font-size: 24px;
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
}

.custom-column-content {
  background-color: $col-content-bg-color;
  border: 2px solid white;
  padding: 20px;
}

.custom-column-footer {
  background-color: $col-footer-bg-color;
  padding-top: 20px;
  text-align: center;
}
.maskGroup-img {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 2s;
  width: 1000px;
  position: relative;
  bottom: 180px;
  right: 580px;
}
.video-thumbnail {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 3s;
}
@media only screen and (max-width: 576px) {
  .maskGroup-img {
    top: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .background-trapezium {
    display: none;
  }
  .maskGroup-img {
    width: 860px;
    right: 500px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
