.program-head {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  color: #4d4d4d;
}
.program {
  background-color: #1f6f8b;
  border: none;
  box-shadow: none;
}
.prg-img {
  width: 10%;
}
.crs-des {
  padding: 0;
}
.start-subhead {
  font-weight: bold;
}
.last-section {
  background: transparent linear-gradient(180deg, #5575f2, #2b3b79) 0 0
    no-repeat padding-box;
  padding-top: 40px;
  // height: 850px;
  height: 1100px;
  margin-top: 40px;
  position: relative;
  top: 200px;
}
.price-square {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 25px 20px 20px;
}
.start-para {
  font-size: 26px;
  line-height: 28px;
  margin-left: 25px;
  font-weight: 300;
  color: white;
}
.act-price {
  margin-left: 20px;
  text-decoration: line-through;
  font-size: revert;
}
.start-head {
  font-size: 15px;
  font-weight: bold;
}
.start-box {
  background-color: #5575f2;
  width: 183px;
  color: #fff;
}
.last-head-crs-des {
  font-size: 36px;
  padding-bottom: 30px;
  font-weight: 500;
  color: white;
}
.artboard-container {
  height: auto;
  width: 100%;
  .course-title-container {
    height: 100%;
    background-image: url("../../Asserts/Images/pythonDevelopment.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-left: 110px;
    .course-title {
      .course-logo {
        animation: fadeInContainer 3s ease-in-out;
        width: 50px;
        height: 50px;
      }
      .course-title-text {
        animation: fadeInContainer 3s ease-in-out;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        margin-left: 12px;
      }
    }
    .couse-description {
      animation: fadeInContainer 3s ease-in-out;
      font-size: 12px;
      color: #fff;
      margin-top: 18px;
      margin-right: 50px;
      line-height: 30px;
      padding-bottom: 20px;
    }
    .button-container {
      margin-top: 20px;
      animation: fadeInContainer 3s ease-in-out;

      .enroll-button {
        width: 186px;
        height: 51px;
        background: #4668ee 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 2px #00000029;
        border-radius: 5px;
        margin-right: 30px;
        letter-spacing: 0.42px;
        color: #ffffff;
        text-transform: uppercase;
      }
      .trial-button {
        width: 202px;
        height: 51px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 2px #00000029;
        border-radius: 5px;
        letter-spacing: 0.42px;
        color: #4668ee;
        text-transform: uppercase;
      }
    }
  }
  .choose-category {
    // animation: fadeInContainer 3s ease-in-out;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;

    .choose-category-text {
      font-size: 20px;
      color: #4d4d4d;
    }
    .category-item-container {
      margin-top: 30px;
      margin-left: 200px;
      margin-right: 200px;
      justify-content: space-between;
      .category-item {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #dbe2e8;
        border-radius: 5px;
        width: 280px;
        height: 80px;
        align-items: center;
      }
      .active {
        // width: 356px;
        // height: 80px;
        background: #5575f2 0% 0% no-repeat padding-box;
        // border-radius: 5px;
        // align-items: center;
        // margin-left: 30px;
        // margin-right: 30px;
        // background: #ffffff 0% 0% no-repeat padding-box;
        // border: 1px solid #dbe2e8;
        // border-radius: 5px;
        // width: 356px;
        // height: 80px;
        // align-items: center;
      }
      .category-item0 {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #dbe2e8;
        border-radius: 5px;
        width: 356px;
        height: 80px;
        align-items: center;
      }
    }
  }
  .details-container {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;
    background: #fafbfc 0% 0% no-repeat padding-box;
    border: 2px solid #dbe2e8;
    padding: 25px;
    .triangle {
      position: absolute;
      left: 73px;
      top: 25px;
      width: 34px;
      height: 34px;
      transform: matrix(-1, 0, 0, -1, 0, 0);
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 0.33;
    }
    .detail-item-container {
      .detail-item {
        min-width: 250px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-left: 2px solid #dbe2e8;
        padding-left: 50px;
        padding-right: 30px;

        .detail-item-text {
          font-weight: bold;
          font-size: 14px;
          color: #4d4d4d;
          margin-top: 10px;
        }
        .detail-item-second {
          font-size: 16px;
          color: #4d4d4d;
          margin-top: 15px;
          font-weight: bold;
        }
        .detail-item-third {
          font-size: 12px;
          color: #4d4d4d;
          margin-top: 15px;
        }
      }
    }
  }
  .time-table-container {
    padding: 30px;
    padding-bottom: -45px;
    min-height: 317px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: transparent linear-gradient(180deg, #5575f2 0%, #2b3b79 100%) 0%
      0% no-repeat padding-box;
    .header-text {
      // animation: backInDownContainer 3s ease-in-out;
      width: 88%;
      font-size: 20px;
      color: #4d4d4d;
      margin-top: 20px;
      color: #fff;
      margin-bottom: 30px;
    }
    .table-x {
      // animation: zoomInContainer 3s ease-in-out;

      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 5px;
      padding: 30px;
    }
  }
  .syllabus-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 13px #00000021;
    margin: 0px;
    min-height: 200px;
    .course-syllabus {
      // animation: fadeInContainer 3s ease-in-out;

      position: relative;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      .tag-syllabus {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 0px;
        width: 253px;
        height: 40px;
        background: transparent
          linear-gradient(270deg, #5575f2 0%, #3d54ab 100%) 0% 0% no-repeat
          padding-box;
      }
      .course-left-detail,
      .course-right-detail {
        // width: 50%;
        min-height: 559px;
      }
      .course-right-detail {
        // background-image: url("../../Asserts/Images/cute-girl-beige-shirt-touching-glasses-holding-laptop-with-smile_197531-6704.webp");
        // background-repeat: no-repeat;
      }
      .course-left-detail {
        padding-top: 90px;
        padding-left: 60px;
        padding-right: 60px;
        .course-header {
          color: #4d4d4d;
          font-size: 22px;
        }
        .course-description {
          color: #4d4d4d;
          font-size: 14px;
          margin-top: 20px;
        }
        .download-syllabus-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          width: 170px;
          height: 30px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #5575f2;
          border-radius: 5px;
          color: #4d4d4d;
          font-size: 14px;
        }
      }
    }
  }
}
.display-flex-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.display-flex-center-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.display-flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
td {
  height: 64px;
}
thead {
  background: #f7951e 0% 0% no-repeat padding-box;
  border-radius: 5px 4px 0px 0px;
  color: #fff;
}
.available-seats {
  width: max-content;
  height: max-content;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  color: #5575f2;
  position: relative;
  left: 260px;
  top: 22px;
  // margin-left: 16px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sold-out {
  color: #a29d9d;
  font-size: 12px;
}
.time {
  font-size: 14px;
  font-weight: bold;
}
.reschedule {
  color: #5575f2;
  font-size: 12px;
}
.acc-det-container {
  padding-bottom: 60px;
  .accordian-section {
    width: 900px;
    margin-right: 100px;
  }
  .course-item-list {
    .course-item-card {
      width: 358px;
      height: 246px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      padding: 30px;
      padding-left: 60px;
      .items {
        color: #525c65;
        margin-bottom: 24px;
      }
    }
  }
}
.scholarship-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: transparent linear-gradient(180deg, #5575f2 0%, #2b3b79 100%) 0%
    0% no-repeat padding-box;
  .scholarship-header {
    color: #fff;
    font-size: 56px;
    margin-bottom: 40px;
  }
  .scholarship-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  }
  .scholarship-btn:hover {
    background: #a5b3eb;
    transition: width 0.2s ease-in-out;
    cursor: pointer;
  }
}

.program-features {
  padding: 70px 100px 70px 100px;
  .program-feature-text {
    color: #4d4d4d;
    font-size: 36px;
    margin-bottom: 40px;
  }
  .program-feature-contents {
    height: auto;
    .feature-card {
      position: relative;
      display: inline-block;
      background: #1f6f8b;
      width: 317px;
      height: 345px;
      margin-right: 60px;
      padding-left: 30px;
      .feature-card-top-piece {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .feature-card-header {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin-top: 80px;
      }
      .feature-card-description {
        color: #fff;
        font-size: 14px;
        margin-top: 20px;
        height: calc(100% - 200px);
        overflow-y: auto;
      }
    }
  }
}

.student-top-reviews {
  background: #f8f8f8;
  padding: 50px;
  padding-left: 70px;
  .student-review-text {
    color: #5575f2;
    font-size: 44px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .student-review-contents {
    height: auto;
    .review-card {
      position: relative;
      display: inline-block;
      width: 428px;
      height: 280px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      margin-right: 16px;
      margin-bottom: 30px;
      padding: 20px;

      .review-card-text {
        color: #474747;
        font-size: 16px;
        max-height: 130px;
        min-height: 100px;
      }
      .review-owner-detail {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        .review-owner-user-name-rating {
          .review-owner-user-name {
            letter-spacing: 1.03px;
            color: #6a6a6a;
          }
          .review-owner-user-rating {
            width: 15px;
            height: 15px;
            margin-left: 24px;
            background: yellow;
          }
        }
      }
    }
  }
}
.subscription-conatiner {
  width: 100%;
  height: 100vh;
  padding: 150px;
  background: transparent linear-gradient(180deg, #5575f2 0%, #2b3b79 100%) 0%
    0% no-repeat padding-box;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  .ticked-items {
    width: 55%;
    height: 100px;
    .ticked-item-header {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .ticked-item-contents {
      margin-top: 30px;
      .ticked-item {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        margin-bottom: 30px;
        color: #fff;

        .ticked-item-icon {
          margin-right: 30px;
        }
        .ticked-item-text {
          color: #fff;
          font-size: 26px;
        }
      }
    }
  }

  .subscription-card-conatianer {
    width: 45%;
    .subscription-card {
      width: 425px;
      height: auto;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 5px;
      padding: 30px;
      .card-tag {
        width: 238px;
        height: 25px;
        background: #5575f2 0% 0% no-repeat padding-box;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .course-name {
        color: #4d4d4d;
        font-size: 26px;
        font-weight: bold;
        margin-top: 35px;
      }
      .difficulty {
        margin-top: 15px;
        color: #4d4d4d;
        font-weight: bold;
      }
      .price {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        .offer-price {
          color: #4d4d4d;
          font-size: 50px;
          font-weight: bold;
        }
        .actual-price {
          color: #9e9d9d;
          font-size: 25px;
          text-decoration: line-through;
          margin-left: 25px;
        }
        .details {
          .detail-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            .detail-item-icon {
              width: 27px;
              height: 27px;
            }
            .detail-item-text {
              color: #4d4d4d;
              font-size: 14px;
            }
          }
        }
        .choose-plan-button {
          margin-top: 20px;
          width: 100%;
          .purchase-button {
            width: 300px;
            height: 60px;
            background: #5575f2 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.lectures {
  height: 797px;
  margin-top: 30px;
  padding: 50px;
  background: #d1d1d1 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  .lecture-header-text {
    color: #000000;
    font-size: 32px;
    font-weight: 600;
  }
  .lectures-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    .lecture-card {
      transition: transform 0.2s; /* Animation */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      width: 352px;
      height: 416px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 5px;
      margin: 25px;
      .lecture-card-header {
        color: #1a1a1a;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
      }
      .lecture-role {
        color: #1a1a1a;
        font-size: 12px;
        font-weight: bold;
        margin-top: 12px;
      }
      .lecture-card-image {
        margin-top: 13px;
        img {
          border-radius: 10px;
          width: 301px;
          height: 289px;
        }
      }
    }
    .lecture-card:hover {
      transform: scale(1.2);
    }
  }
}
@keyframes fadeInContainer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes zoomInContainer {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes backInDownContainer {
  0% {
    position: relative;
    right: -100px;
    top: -75px;
  }
  50% {
    top: 0px;
  }
  100% {
    right: 0px;
  }
}
