.widgets {
  padding: 30px;
  border: 1px solid #eee;
  margin-left: 15px;
}
.category-box {
  padding: 30px;
  border: 1px solid #eee;
}
.category-item {
  background-color: #f2f2f3;
  padding: 10px;
  color: #000;
}
.category-item-none {
  padding: 10px;
  color: #000;
}
.blog-heading {
  font-size: 32px;
  font-weight: 600;
}
