.main {
  .page {
    //   overflow: hidden;
    //   overflow-y: scroll;
  }
  .banner {
    height: 350px;
    position: relative;
  }
  .black-bg {
    -webkit-clip-path: polygon(0 0, 60% 0, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 75% 100%, 0 100%);
    height: 300px;
    background-color: #000;
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
  }
  .title {
    position: absolute;
    bottom: 100px;
    left: 12%;
  }
  .title-main {
    font-family: normal normal bold 60px/44px Akrobat;
    font-weight: 600;
    font-size: 48px;
    color: #fff;
    top: 60px;
    // right: -188px;
    position: relative;
  }
  .title-sub {
    font-size: 15px;
    color: #fff;
    top: 60px;
    position: relative;
    font-weight: 400;
    left: 7px;
  }
  .middle-clip {
    position: relative;
    right: -150px;
    bottom: 215px;
  }
  .middle-img {
    position: relative;
    left: 258px;
    max-height: 325px;
    min-height: 280px;
    max-width: 66%;
    opacity: 0;
    animation: fadeInUp 3s ease-in-out 0s forwards;
    animation-delay: 1s;
  }
  .left-clip {
    -webkit-clip-path: polygon(15% 0, 0 0, 0 100%);
    clip-path: polygon(15% 0, 0 0, 0 100%);
    background-image: url("../../Asserts/Images/business-man.png");
    background-size: contain;
    height: 300px;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 2s;
  }
  .right-clip {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-image: url("../../Asserts/Images/code.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 310px;
    width: 21%;
    position: absolute;
    top: -50px;
    right: 150px;
    animation: fadeInRight 3s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 2s;
    // opacity: 0;
    animation-delay: 3s;
  }
  .right-clip-inside {
    -webkit-clip-path: polygon(100% 0, 1.56% 0, 99.7% 94.53%);
    clip-path: polygon(100% 0, 1.56% 0, 99.7% 94.53%);
    height: 310px;
    width: 100%;
    opacity: 0.7;
    background-color: #4668ee;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
  .img-fluid {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation: fadeIn 3s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 2s;
  }
  .side-content {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation: fadeIn 3s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 2s;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .img-section-heading {
    font-size: 32px;
    font-weight: 400;
    //   font: normal normal normal Arial;
  }
  .img-section-para-1 {
    font-size: 14px;
    color: #6a6a6a;
    // font: normal normal normal Arial;
  }
  .img-section-para-2 {
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .eligibility-left {
    padding: 30px;
    background-color: #4668ee;
  }
  .eligibility-right {
    padding: 0;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .blue-part {
    height: 150px;
    background-color: #4668ee;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
    left: -15px;
    width: 685px;
  }
  .text-center {
    text-align: center !important;
  }
  .placement3-img {
    position: relative;
    bottom: 0;
    top: -125px;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 450px;
    max-height: 450px;
    width: 60%;
  }
  .eligibility-heading {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    padding-left: 45px;
    animation-name: scale-in;
    animation-duration: 2s;
    // size: 0%;
  }
  .eligibility-para {
    font-size: 12px;
    color: #fff;
    padding-left: 45px;
    opacity: 1;
    animation-name: zoomInn;
    animation-duration: 2s;

    // animationName: "zoomInn",
    // ,
    // animationDelay: "4s",
  }
  .lists {
    margin-left: 20px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation: fadeIn 3s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
  }
  .pl-5,
  .px-5 {
    padding-left: 3rem !important;
  }
  .mb-4,
  .my-4 {
    margin-bottom: 1.5rem !important;
  }
  .triangle-bullet {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #fff;
    border-bottom: 15px solid transparent;
    border-radius: 3px;
  }
  .line-list {
    font-size: 12px;
    padding-left: 25px;
    color: #fff;
    margin-top: 4px;
  }
  .companies {
    margin-bottom: 100px;
  }

  .company-heading {
    font-weight: 600;
    font-size: 28px;
    color: #000;
    animation-name: zoomInn;
    animation-duration: 2s;
  }
  .owl-theme {
    display: block;
    transform: rotate(360deg);
  }
  .owl-carousel {
    // display: none;
    width: 100%;
    z-index: 1;
  }
  .owl-carousel,
  .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    animation-name: zoomInn;
    animation-duration: 2s;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
  }
  .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    // -moz-backface-visibility: hidden;
  }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    // -webkit-user-select: none;
    user-select: none;
  }
  .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    // -webkit-touch-callout: none;
  }
  .black-testimonial {
    height: 400px;
    width: 130px;
    background-color: #b3b1ad;
    position: absolute;
  }
  .test-heading {
    color: #fff;
    transform: rotate(90deg);
    transform-origin: bottom;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 150px;
  }
  .red-vl {
    border-left: 3px solid red;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 80px;
  }
  .companyImage {
    width: 216px;
    animation-name: zoomInn;
    animation-duration: 2s;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
  }
  @-moz-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
    }
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      font-size: 0px;
    }
    100% {
      font-size: 35px;
    }
  }
  @keyframes zoomInn {
    0% {
      // font-size: 0px;
      transform: scale(0, 0);
    }
    // 50% {
    //   opacity: 0.5;
    // }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes zooomIn {
    0% {
      font-size: 0px;
    }
    100% {
      font-size: 28px;
    }
  }

  @keyframes displayOwlCarousel {
    0% {
      width: 0;
    }
    100% {
      width: 216px;
    }
  }
  @media only screen and (max-width: 576px) {
    .middle-img {
      display: none;
    }
    .right-clip {
      display: none;
    }
    .black-bg {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .img-fluid {
      left: -125px;
    }
  }
  @media only screen and (max-width: 768px) {
    .middle-img {
      max-width: 55%;
      position: relative;
      left: 195px;
    }
    .right-clip {
      height: 265px;
      width: 24%;
      position: absolute;
      top: -50px;
      right: 149px;
    }
    .title-main {
      font-size: 30px;
    }
    .img-fluid {
      left: -175px;
      min-height: 385px;
      width: 40%;
    }
    .col-lg-6 {
      flex: 50%;
    }
    // .right-clip-inside {
    //   display: none;
    // }
    .blue-part {
      width: 750px;
    }
    .black-bg1 {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .middle-img {
      position: relative;
      left: 265px;
      top: -9px;
      max-width: 50%;
    }
    .title-main {
      position: absolute;
      right: -55px;
    }
    .title-sub {
      top: 38px;
      position: relative;
      left: 60px;
    }
  }
  @media only screen and (max-width: 992px) {
    .middle-img {
      position: relative;
      left: 250px;
      max-width: 50%;
    }
    .title-main {
      right: -60px;
      position: relative;
      top: 45px;
    }
    .title-sub {
      left: 60px;
    }
    .col-lg-6 {
      flex: 50%;
    }
  }
}
