.Projectideas-style {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .banner-image {
    z-index: 3;
    position: absolute;
    //   left: 180px;
    padding-left: 65px;
    top: 110px;
  }
  .p-0 {
    padding: 0 !important;
  }
  .img,
  .img12 {
    width: 100%;
    clip-path: polygon(0.1% -0.17%, 99.06% -0.36%, 73.14% 90%, 0 90.01%);
  }
  .who,
  .who-shape {
    position: absolute;
  }
  .img2 {
    width: 100%;
    margin-top: 180px;
    //   height: 550px;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .third {
    background-color: #f6f6f8;
    padding-top: 50px;
    height: fit-content;
  }
  .bulb-img {
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  .img123 {
    width: 65%;
    position: relative;
    top: -100px;
    right: 0px;
  }
  .method-head {
    color: #4d4d4d;
    font-size: 48px;
    font-weight: 600;
    margin-top: 110px;
  }
  .method-para {
    margin-right: 50px;
    color: #4d4d4d;
    font-size: 13px;
    margin-top: 35px;
    line-height: 28px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  }
  .project-square {
    background-color: #041584;
    height: 100%;
    padding: 100px 37px;
  }
  .project-subhead {
    color: #b6b6b6;
  }
  .project-head {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 50px;
    line-height: 50px;
  }
  .accordion .card {
    border: 3px solid #fff;
    border-radius: 10px;
  }
  .accordion > .card {
    overflow: hidden;
  }
  .project-subhead {
    color: #b6b6b6;
    font: 400 16px/28px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
  }
  .card-header {
    background-color: #041584;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    // background-color: rgba(112, 56, 56, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  .investment {
    background-color: #60c2f9;
    top: -75px;
    padding-top: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    height: fit-content;
    padding-bottom: 100px;
    z-index: 68;
    position: relative;
    margin-bottom: -120px;
  }
  .investment-head {
    color: #fff;
    font-size: 56px;
    padding: 20px 0;
    margin-right: 192px;
    line-height: 50px;
  }
  .investment-para {
    color: #fff;
    font-size: 13px;
    line-height: 28px;
  }
  .img-fluid,
  .img-thumbnail {
    max-width: 100%;
    height: auto;
  }
  .last-sec {
    margin-top: 130px;
  }
  .last-head {
    color: #1a1a1a;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-left: 50px;
  }
  .last-para {
    margin-left: 50px;
    font-size: 13px;
    line-height: 28px;
  }

  #border-bottom-input {
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }
  #diamond {
    width: 8px;
    height: 8px;
    background: #5575f2;
    margin: 3px 0 0 110px;
    position: relative;
    top: 30px;
    // fadeIn 3s ease-in-out

    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    animation: y-axis-animation 3s ease-in-out;
  }
  #trapezium {
    width: 0;
    height: 0;
    border-top: 15px solid #5575f2;
    border-right: 13px solid transparent;
    position: relative;
    left: 125px;
    bottom: 111px;
    transform: rotate(138deg);
  }
  .triangleOnRightSide {
    height: 240px;
    right: -30px;
    transform: rotate(-42deg);
    position: absolute;
    top: -22px;
    animation: fadeInRight 3s ease-in;
  }
  .triangleUnderSquare {
    position: absolute;
    top: 0;
    z-index: -1;
    animation: fadeInTriangle 3s ease-in;
  }
  .mapLocationArrow {
    height: 800px;
    top: -165px;
    left: -225px;
    position: absolute;
    z-index: -5;
  }
  @keyframes fadeInTriangle {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes y-axis-animation {
    from {
      transform: rotateY(0deg) rotate(-45deg);
    }
    to {
      transform: rotateY(360deg) rotate(-45deg);
    }
  }
  @keyframes zoomInText {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes fadeInRight {
    0% {
      height: 0px;
    }
    100% {
      height: 240px;
    }
  }
  @media only screen and (max-width: 576px) {
    .investment {
      clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
      margin-bottom: -200px;
      padding-bottom: 200px;
    }
    .img2 {
      margin-top: 380px;
    }
    .ban-img {
      left: 10px;
      top: 75px;
    }
  }

  .triangleOnRightSide {
    display: none;
  }
  .triangleUnderSquare {
    display: none;
  }
  .mapLocationArrow {
    display: none;
  }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    .investment {
      clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
      margin-bottom: -200px;
      padding-bottom: 200px;
    }
  }

  @media only screen and (max-width: 768px) {
    // .investment {
    //   clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
    //   margin-bottom: -200px;
    //   padding-bottom: 200px;
    // }
    .img-fluid {
      top: -145px;
    }
    .Rectangle {
      display: none;
    }
    .triangleOnRightSide {
      display: none;
    }
    .triangleUnderSquare {
      display: none;
    }
    .mapLocationArrow {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .investment {
      clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
      margin-bottom: -200px;
      padding-bottom: 200px;
    }
  }
  @media only screen and (max-width: 992px) {
    // .investment {
    //   clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
    //   margin-bottom: -200px;
    //   padding-bottom: 200px;
    // }
    .triangleOnRightSide {
      display: none;
    }
    .triangleUnderSquare {
      display: none;
    }
    .mapLocationArrow {
      display: none;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .investment {
      clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
      margin-bottom: -200px;
      padding-bottom: 200px;
    }
    // .investment {
    //   clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 84%, 0 84%);
    //   margin-bottom: -200px;
    //   padding-bottom: 200px;
    // }
    .triangleOnRightSide {
      display: none;
    }
    .triangleUnderSquare {
      display: none;
    }
    .mapLocationArrow {
      display: none;
    }
  }
}
